@import url('https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:regular,700&display=swap');
//========================================================================================================================================================
@import './base/variables';
//========================================================================================================================================================
@import './base/reset';
//========================================================================================================================================================

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: clip;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

body.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
//========================================================================================================================================================

[class*='__container'] {
  max-width: 1265px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}
[class*='__container_big'] {
  max-width: 1440px;
  padding: 0 10px;
}

// FILES ==================================================================================================================================================

@import './base/header';
@import './base/footer';
@import './base/common';
@import './pages/home';
