.title {
  font-size: 2.25rem;
  @media (width <= 768px) {
    font-size: 1.375rem;
  }
}
.title-s {
  font-size: 1.75rem;
  @media (width <= 768px) {
    font-size: 1.125rem;
  }
}
.main-title {
  font-size: 3rem;
  @media (width < 992px) {
    font-size: 1.625rem;
  }
}
.title,
.title-s,
.main-title {
  line-height: 133.333333%;
  text-transform: uppercase;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.2813rem 2.3125rem;
  background-color: $white;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5;
  transition: background 0.3s ease 0s;
  // .button_black
  &_black {
    color: $white;
    background-color: $black;
  }
  // .button_border
  &_border {
    border: 1px solid $black;
    background-color: transparent;
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: $grey;
    }
  }
}

.rounded-button {
  color: #111113;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 50%;
  border: 1.4px solid #e5e5e5;
}

.v-breadcrumbs-item,
.v-breadcrumbs-divider {
  font-size: 0.75rem;
  color: #b3b3b3 !important;
}

.v-breadcrumbs-item.v-breadcrumbs-item--disabled {
  opacity: 1;
  color: #111113 !important;
}

.activator-btn {
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 0 0.75rem;
  text-decoration: none;
  &::selection {
    background-color: transparent;
    color: inherit;
  }
  &.active,
  &[aria-expanded='true'] {
    i {
      transform: rotateX(180deg);
    }
  }
  cursor: pointer;
  i {
    font-size: 0.75rem;
    transition: transform 0.3s ease 0s;
  }
}

.fz-small {
  &::before {
    font-size: 0.75rem;
  }
}

.mw-100 {
  max-width: 100%;
}

.v-breadcrumbs-item--disabled {
  text-transform: capitalize;
}
