// Fonts ========================================================================================================================================================

$titleFontFamily: 'Inconsolata';
$fontFamily: 'Roboto';

// Colors =======================================================================================================================================================

$black: #000;
$white: #fff;
$nero: #282828;
$eclipse: #393939;
$cloud: #c5c1b8;
$lavender: #eaeaeb;
$suvaGrey: #929292;
$persianRed: #bd3735;
$dimGray: #666;
$nomad: #9e9789;
$pinkSwan: #b3b3b3;
$grey: #828282;
$f9: #f9f9f9;
